/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



/* Global CSS  */

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #ffffff;
    line-height: 1.5;
    color: #414040;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-1 {
    background: #B68C5A;
}

.btn-1:hover {
    background: #b38043;
}

.section-padding {
    padding: 65px 0;
}

.title-color {
    color: #414040;
}

.desc-color {
    color: #707070;
}

/* Navbar Section Start  */

.navbar {
    background-color: transparent;
    padding: 20px 0;
}

.navbar-brand img {
    max-width: 158px;
    width: 100%;
}

.home {
    margin-bottom: 70px;
}

.home .home-info {
    height: calc(100vh - 96px);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.home-info input {
    max-width: 450px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 26px;
}

/* Navbar Section End  */


/* Services Section Start  */

.card {
    border-radius: 0;
}

.card img {
    width: 72px;
    height: 72px;
}

.card i {
    color: white;
    background: #B68C5A;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    line-height: 28px;
    font-size: 18px;
}


/* Services Section End  */

/* Clients Section Start  */

.clients .carousel-item .carImg {
    max-height: 500px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.clients .carousel-caption {
    top: 80px;
}

.clients .carousel-caption img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}


/* Clients Section End  */



/* FAQ section Start  */
.accordion-item {
    margin-bottom: 30px;
}

.accordion-button {
    padding: 20px 50px 20px 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.accordion-button::before {
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: var(--black-400);
}

.accordion-button:not(.collapsed)::before {
    content: "\f068";
    color: #ffffff;
}

.accordion-button:not(.collapsed)::after {
    content: none;
}

.accordion-button::after {
    content: none;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #B68C5A;
}

.accordion-button:focus {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.accordion-body {
    padding: 20px 30px;
    font-size: 16px;
    color: #707070;
}

.accordion-button:not(.collapsed):focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* FAQ section End  */


/* Contact Section Start  */

.contact-info img {
    width: 35px;
    height: 35px;
}

.contact-form .form-control {
    height: 70px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 24px;
    color: #414040;
    background-color: #F8F9FA;
    transition: all .5s ease;
}

.contact-form {
    padding-top: 60px;
}

.contact-form .form-control:focus {
    box-shadow: none;
    outline: none;
}

.contact-form textarea.form-control {
    height: 150px;
    padding-top: 20px;
    resize: none;
}

.contact-form button {
    height: 66px;
}

/* Contact Section End  */


/* Footer Section Start  */

.footer {
    background-color: #111111;
}

.subscribe .form-control {
    border: 1px solid transparent;
    height: 60px;
    padding: 0 20px;
}

.subscribe .input-group-text {
    border: none;
    outline: none;
    height: 59px;
}

.subscribe .input-group-text i {
    font-size: 24px;
    padding: 0 6px;
}

.subscribe .form-control:focus {
    box-shadow: none;
}

/* Footer Section End  */







/* Media Queries  */

@media(max-width:991px) {
    .navbar-toggler {
        border: 1px solid #B68C5A;
        outline: none;
        font-size: 24px;
        height: 35px;
        width: 35px;
        padding: 0;
        color: #B68C5A;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #B68C5A;
    }

    .navbar-nav {
        text-align: center;
        margin: 30px 0;
    }

    .navbar .btn-1 {
        display: block;
        margin: auto;
    }

    .services .card {
        border: none;
    }

    .clients .carousel-caption img {
        height: 50px;
        width: 50px;
    }

    .clients .carousel-caption {
        top: 30px;
    }

    .bg-none {
        background-color: transparent !important;
    }

    .contact-form {
        margin-top: 50px;
    }
}

@media(max-width:500px) {
    .contact-info img {
        width: 25px;
        height: 25px;
    }

    .contact-info .card-title {
        font-size: 16px;
    }

    .contact-info .card-text {
        font-size: 12px;
    }

    .card {
        border: 1px solid #f2f2f2 !important;
    }
}